<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=p, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <a href="/travels">Home</a>
    <a href="/logout">Logout</a>
    <h2>Add a trip</h2>
    {% if messages %}
        {% for message in messages %}
            <p>{{message}}</p>
        {% endfor %}
    {% endif %}
    <form action="/travels/create" method="post">
        {% csrf_token %}
        Destination: <input type="text" name="country">
        <br>
        Description: <input type="text" name="description">
        <br>
        Travel Date From: <input type="date" name="start">
        <br>
        Travel Date To: <input type="date" name="end">
        <br>
        <input type="submit" value="Add">
    </form>
</body>
</html>